<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <div class="commenter_area">
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </div>

  <div class="com_text_area">
    <%= form.label :body %><br>
    <%= form.text_area :body, rows: 5 %>
  </div>

  <div class="submit_comment">
    <%= form.submit %>
  </div>
<% end %>