<div class="form_container">
  <%= form_with model: @article, local: true do |form| %>
    
    <% if @article.errors.any? %>
      <div class="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %>:
        </h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form_content">
      <div class="title_field">
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </div>

      <div class="text_area_field">
        <%= form.label :text %><br>
        <%= form.text_area :text, rows: 10 %>
      </div>

      <div class="submit_button">
        <%= form.submit %>
      </div>
    </div>

  <% end %>
</div>
